html{
	margin:0;
	height:100%;
	width:100%;
	overflow-x:hidden;
}

body{
	margin:0;
	height:100%;
	width:100%;
	overflow-y: hidden;
}

#header{
	background-color:gray;
	text-align:center;
	height:20%;
	width:73.5%;
	display: inline-block;
}

#sidebar{
	font-family: Raleway;
	width:20%;
	height: 100%;
	float:right;
	background-color:gray;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
}

#content{
	font-family: Raleway;
	border: .5em solid black;
	height:80%;
	width:70%;
	float:left;
	margin-left:55px;
	overflow-y: scroll;
}

h1{
	padding-top: 40px;
	font-family: Raleway;
	text-align: center;
	font-size: 6em;
	display:inline;
}

h3{
	font-family: Raleway;
	font-size: 2em;
	margin-left: 20px;
}

#input{
	font-size: 2em;
	padding-left:35px;
}

#button1{
	margin-left:20px;
	margin-top:10px;
}

#button2{
	margin-left: 0x;
	display: inline-block;
	margin-top: 0px;
}
#button3{
	margin-left: -5px;
	display: inline-block;
	margin-top: 0px:
}
#staff{
	padding-bottom: 20px;
	padding-top: 20px;
	display: inline-block;

}

#draggable{
	background-color: white;
}