#header{
	background-color:gray;
	height:20%;
	width:100%;
	clear:both;
}

#sidebar{
	font-family: Philosopher;
	width:20%;
	height: 100%;
	float:right;
	background-color:gray;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
}

#content{
	font-family: Philosopher;
	border: 1em solid black;
	height:80%;
	width:70%;
	float:left;
	margin-left:55px;
}

h1{
	padding-top: 40px;
	font-family: Philosopher;
	text-align: center;
	font-size: 5em;
}

#input{
	font-size: 2.5em;
	padding:35px;
}